#define __SCR_UP_  &msc SCRL_UP
#define __MOV_UP_  &mmv MOVE_UP
#define __SCR_DN_  &msc SCRL_DOWN
#define __MOV_LFT  &mmv MOVE_LEFT
#define __MOV_DN_  &mmv MOVE_DOWN
#define __MOV_RGT  &mmv MOVE_RIGHT
#define __SCR_LFT  &msc SCRL_LEFT
#define __SCR_RGT  &msc SCRL_RIGHT
#define ___MB2___  &mkp MB2
#define ___MB1___  &mkp MB1
#define ___MB3___  &mkp MB3
