#define ___SQT___  &kp SQT
#define ___LT____  &kp LT
#define ___GT____  &kp GT
#define ___DQT___  &kp DQT
#define ___DOT___  &kp DOT
#define __AMPS___  &kp AMPS
#define __LBKT___  &kp LBKT
#define __RBKT___  &kp RBKT
#define __SCOLON_  &kp SEMICOLON
#define __PRCNT__  &kp PERCENT
#define __EXCL___  &kp EXCL
#define __MINUS__  &kp MINUS
#define __PLUS___  &kp PLUS
#define __EQUAL__  &kp EQUAL
#define __HASH___  &kp HASH
#define __PIPE___  &kp PIPE
#define __LPAR___  &kp LPAR
#define __RPAR___  &kp RPAR
#define __COLON__  &kp COLON
#define __QMARK__  &kp QUESTION
#define __CARET__  &kp CARET
#define __FSLH___  &kp FSLH
#define __ASTRK__  &kp ASTRK
#define __BSLASH_  &kp BACKSLASH
#define __GRAVE__  &kp GRAVE
#define __TILDE__  &kp TILDE
#define __LBRC___  &kp LBRC
#define __RBRC___  &kp RBRC
#define __DOLLAR_  &kp DOLLAR
#define ___AT____  &kp AT
#define __BSPC___  &kp BSPC
#define __UNDER__  &kp UNDERSCORE
#define ___GUI___  &kp LGUI
